* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(10, 14, 54);
  height: 80px;
}

header img {
  height: 80px;
  width: 80px;
}

.hero-section {
  height: calc(100vh - 80px);
  width: 100%;
  object-fit: cover;
  position: relative;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro-message {
  color: white;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 45%;
}

.cards-container {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  margin: 5px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(10, 14, 54);
  border-left: none;
}

.card .boolean-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 5px;
  top: 5px;
}

.laptop-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.social-media-icons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  justify-content: end;
  margin-right: 5px;
}

.social-media-icons img {
  height: 25px;
  width: 25px;
  margin: 10px 0;
}

.card p {
  margin: 0 30px 20px 5px;
  font-size: 12px;
}
